body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}
/*** header ***/

#header {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 0px;
}

#title {
	color: #8B011D;
	font-family: 'Pacifico', sans-serif;
	font-size:50px;
}

#desc {
	text-align: center;
	color: #5E574E;
	font-size: 15px;
	font-family: 'Vereda Round', sans-serif;
	margin-top: -40px;
}

/*** menu ***/
#box {
	background-color: #8B011D;
	width: 100%;
	height: 150px;
	text-align: center;
	margin-top: 80px;
}